[submodule "docs"]
	path = docs
	url = https://github.com/YouMeOS/youmeos-microverse.wiki.git
[submodule "wp-content/mu-plugins/blackbox-bedrock"]
	path = wp-content/mu-plugins/blackbox-bedrock
	url = https://github.com/HalloftheGods/blackbox-bedrock.git
[submodule "wp-content/themes/xophz-magic-hat"]
	path = wp-content/themes/xophz-magic-hat
	url = https://github.com/HalloftheGods/xophz-magic-hat.git
