{
	# FrankenPHP Options
	frankenphp
	auto_https disable_redirects
	http_port {$PORT:80}
	https_port {$HTTPS_PORT:443}
}

# HTTPS Gateway
https://my.youmeos.com:{$HTTPS_PORT:443}, https://my.umeos.com:{$HTTPS_PORT:443} {
	{$TLS_DIRECTIVE:tls internal}
	root * "{$WP_ROOT}"
	encode zstd br gzip

	@static {
		path *.ico *.css *.js *.gif *.jpg *.jpeg *.png *.svg *.woff *.woff2 *.webp *.avif
	}
	header @static Cache-Control "{$STATIC_CACHE_CONTROL:no-cache, must-revalidate}"

	php_server {
		resolve_root_symlink
	}
	log {
		format json
		output stdout
	}
}

# HTTP Gateway
:{$PORT:80}, http://my.youmeos.com:{$PORT:80}, http://youmeos.localhost:{$PORT:80}, http://youmeos.local:{$PORT:80}, http://localhost:{$PORT:80}, http://127.0.0.1:{$PORT:80} {
	root * "{$WP_ROOT}"
	encode zstd br gzip

	@static {
		path *.ico *.css *.js *.gif *.jpg *.jpeg *.png *.svg *.woff *.woff2 *.webp *.avif
	}
	header @static Cache-Control "{$STATIC_CACHE_CONTROL:no-cache, must-revalidate}"

	php_server {
		resolve_root_symlink
	}
	log {
		format json
		output stdout
	}
}
